@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #e3f8fb;
    --orange: #ed9f66;
    --green: #41f79a;
    --darkgreen: #86ffc7;
    --red: #ef6a7d;
    --black: #231f20;
    --semiblack: #2b2b2e;

    /* --rti-border: "#ccc" !important; */
    /* --rti-main: "red" !important; */
    /* --rti-radius: "1rem"; */
    /* --rti-s: "0.5rem",  */
    /* --rti-tag: "#e4e4e7" !important; */
    /* --rti-tag-remove: "red" !important;  */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--black);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
#banner {
  height: 100vh;
  background: url(../svgs/dbmgradient.svg);
  background-position: center center;
  background-size: cover;
}

.rti--container {
  border-radius: 0.75rem !important;
  background: #3f3f46 !important;
  border: none !important;
  overflow: auto;
  min-height: 2.5rem;
  max-height: 20rem;

  /* background-color: 'red' !important; */
  /* --rti-bg: "#fafafa" !important */
  /* --rti-border: "#ccc" !important; */
  /* --rti-main: "red" !important; */
  /* --rti-radius: "1rem"; */
  /* --rti-s: "0.5rem",  */
  /* --rti-tag: "#e4e4e7" !important; */
  /* --rti-tag-remove: "red" !important;  */
}

.rti--container input {
  background-color: #3f3f46;
  color: #e4e4e7;
  font-size: smaller;
  width: 100%;
}

.rti--container:focus-visible {
  background-color: red;
}

.rti--tag {
  background-color: #262626 !important;
  color: #a1a1aa;
  font-size: smaller;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
}
